<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Members</title>
</head>

<body>
    
<script>

function isAdmin() {

    if (localStorage.getItem("isAdmin") === "true") {
    } else {
        alert("Du har inte administratörsbehörighet.");
        window.location.href = "/members";

    }
}

isAdmin();

</script>



    <!--Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <h3>Medlemmar inom Bosses Båtklubb</h3>
        </div>
        <ul class="navbar-links">
            <li><a href="#">Home</a></li>
            <li><a href="/members">Medlemmar</a></li>
        </ul>
    </nav>
    <!--Slut på Navbar -->

    <!--Start av mainBody -->
    <div class="mainBody">



        <h2>Lägg till Medlem</h2>
        <!--Input -->
        <form th:method="post" th:action="@{/newMember}" th:object="${newMember}">
            <label for="name">Namn: </label>
            <input type="text" th:field="*{name}">
            <input type="submit">

        </form>
        
        <ul th:id="${member.id}" th:each="member : ${listOfMembers}">
            Medlem: <span th:text="${member.name}"></span>
            <a th:href="@{/removeMember/{memberId}(memberId=${member.id})}">Ta bort</a>

        </ul>







        <!--Slut på Input -->


    </div>
    <!--Slut av mainBody -->



</body>

</html>