<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
</head>

<body>

    <form th:method="post" th:action="@{/newMember}" th:object="${newMember}">

        <input type="text" th:field="*{name}">
        <input type="submit">

    </form>

    <div>

        <ul th:id="${member.id}"th:each="member : ${listOfMembers}">
            Medlem <span th:text="${member.name}"></span>
            <a th:href="@{/removeMember/{memberId}(memberId=${member.id})}">Ta bort</a>
            
        </ul>

    </div>


</body>

</html>